In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/food-preferences/Food_Preference.csv')

In [3]:
df

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe
...,...,...,...,...,...,...,...,...
283,2019/05/10 9:24:00 AM GMT+8,FPS284,Male,Indian,27,Western Food,Fresh Juice,Yes
284,2019/05/10 9:32:54 AM GMT+8,FPS285,Male,Indian,24,Traditional food,Fresh Juice,Yes
285,2019/05/10 12:09:17 PM GMT+8,FPS286,Male,Indian,25,Traditional food,Fresh Juice,Yes
286,2019/05/10 12:52:17 PM GMT+8,FPS287,Male,Indian,27,Traditional food,Fresh Juice,Yes
287,2019/05/10 12:55:42 PM GMT+8,FPS288,Male,Indian,27,Traditional food,Fresh Juice,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       288 non-null    object
 1   Participant_ID  288 non-null    object
 2   Gender          284 non-null    object
 3   Nationality     288 non-null    object
 4   Age             288 non-null    int64
 5   Food            288 non-null    object
 6   Juice           288 non-null    object
 7   Dessert         288 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.1+ KB

In [5]:
df.describe()

              Age
count  288.000000
mean    30.597222
std     11.180383
min      8.000000
25%     24.000000
50%     28.000000
75%     36.250000
max     80.000000

In [6]:
df.columns

Index(['Timestamp', 'Participant_ID', 'Gender', 'Nationality', 'Age', 'Food',
       'Juice', 'Dessert'],
      dtype='object')

In [7]:
df.Nationality.value_counts()

Indian         241
Malaysian       10
Indonesia        7
Pakistani        3
Japan            2
MY               2
Maldivian        2
Pakistani        2
Algerian         1
Mauritian        1
China            1
Malaysia         1
Indonesian       1
Indonesain       1
Seychellois      1
Korean           1
Malaysia         1
Nigerian         1
Canadian         1
MALAYSIAN        1
Indonesian       1
Malaysian        1
Maldivian        1
Pakistan         1
Muslim           1
Tanzanian        1
Yemen            1
Name: Nationality, dtype: int64

In [8]:
df.Gender.value_counts()

Female    165
Male      119
Name: Gender, dtype: int64

6dryfyfyfyu

In [9]:
df.Food.value_counts()

Traditional food    238
Western Food         50
Name: Food, dtype: int64

In [10]:
df[df['Gender']=='Female'].Food.value_counts()

Traditional food    144
Western Food         21
Name: Food, dtype: int64

In [11]:
df[df['Food']=='Western Food'].Age.value_counts()

24    8
22    4
13    4
27    4
25    3
29    3
31    3
28    2
19    2
23    2
21    2
40    2
16    2
30    1
20    1
39    1
34    1
18    1
15    1
26    1
9     1
35    1
Name: Age, dtype: int64

In [12]:
df[df['Food']=='Traditional food'].Age.value_counts()

25    20
27    14
30    14
24    12
23    12
28    12
38    11
26    11
40    10
33     9
21     9
37     8
19     8
34     7
20     6
35     6
22     6
42     5
36     5
39     5
54     4
32     4
45     4
31     4
29     3
50     3
9      2
47     2
60     2
18     2
56     2
80     2
49     1
74     1
51     1
17     1
44     1
67     1
65     1
43     1
63     1
59     1
53     1
12     1
8      1
46     1
Name: Age, dtype: int64

In [13]:
df.columns

Index(['Timestamp', 'Participant_ID', 'Gender', 'Nationality', 'Age', 'Food',
       'Juice', 'Dessert'],
      dtype='object')

In [14]:
df.Juice

0            Fresh Juice
1      Carbonated drinks
2            Fresh Juice
3            Fresh Juice
4            Fresh Juice
             ...
283          Fresh Juice
284          Fresh Juice
285          Fresh Juice
286          Fresh Juice
287          Fresh Juice
Name: Juice, Length: 288, dtype: object

In [15]:
df.Juice.value_counts()

Fresh Juice          256
Carbonated drinks     32
Name: Juice, dtype: int64

In [16]:
df[df['Gender']=='Female'].Juice.value_counts()

Fresh Juice          152
Carbonated drinks     13
Name: Juice, dtype: int64

In [17]:
df[df['Juice']=='Carbonated drinks'].Gender.value_counts()

Male      19
Female    13
Name: Gender, dtype: int64

In [18]:
df.Dessert.value_counts()

Maybe    122
Yes      114
No        52
Name: Dessert, dtype: int64

In [19]:
df[df['Nationality']=='Japan'].Dessert.value_counts()

Maybe    2
Name: Dessert, dtype: int64